<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- {{#each css}} --}}
  <link rel="stylesheet" type="text/css" href="/css/style.css">
 {{!-- {{/each}} --}}
  <title>Document</title>
</head>
<body>
  <div id="display">
    {{{body}}}
  </div>
  <div class="buttons">
    <button id="ok">OK</button>
    {{!-- <button id="del"><a href="/delete">DELETE</a></button> --}}
    
  </div>

<!--<script src="index.mjs"></script>-->
</body>
</html>